<div class="bg-[#9395D3] flex justify-between p-5">
  <img
    routerLink="/dashboard/list"
    src="/assets/icon/back.svg"
    alt="arrow_back" />
  <h1 class="font-[jost] text-2xl text-white font-semibold">Add Task</h1>
  <img src="/assets/icon/calender.svg" alt="calender" />
</div>
<div class="bg-white w-screen">
  <form>
    <div class="p-7">
      <div class="title input-container">
        <input id="title" type="text" placeholder="" />
        <label for="title">Title</label>
      </div>
      <div class="detail input-container">
        <input id="detail" type="text" title="text" placeholder="" />
        <label for="detail">Detail</label>
      </div>
    </div>
    <div>
      <button  class="button-add" alt="test">ADD</button>
    </div>
  </form>

</div>
