<div class="bg-[#9395D3] flex justify-between p-5">
  <button class="cursor-pointer">
    <img
      routerLink="/dashboard/list"
      src="/assets/icon/back.svg"
      alt="arrow_back" />
  </button>

  <h1 class="font-[jost] text-2xl text-white font-semibold">Add Task</h1>
  <img src="/assets/icon/calender.svg" alt="calender" />
</div>
<div class="bg-white w-screen">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="p-7">
      <div class="title input-container">
        <input formControlName="title" id="title" type="text" placeholder="" />
        <label for="title">Title</label>
      </div>
      <div class="detail input-container">
        <input
          formControlName="detail"
          id="detail"
          type="text"
          title="text"
          placeholder="" />
        <label for="detail">Detail</label>
      </div>
    </div>
    <div class="p-3">
      <button class="button-add bg-[#9395D3] w-full p-5 rounded-xl" alt="test">
        <span class="text-white text-lg font-semibold hover:shadow-xl">
          ADD
        </span>
      </button>
    </div>
  </form>
</div>
