<ng-container>
  <div class="flex h-screen overflow-hidden">
    <div class="basis-[70%] flex flex-col bg-[#EBEFFF] h-full">
      <div class="flex flex-col items-center justify-center flex-1">
        <h3 class="text-black font-bold">Welcome Back!</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="username">
            <label class="font-mono" for="text"> Username: </label>
            <input formControlName="username" type="text" id="text" />
            <div>
              @if (
                loginForm.get('username').invalid &&
                (loginForm.get('username').dirty ||
                  loginForm.get('username').touched)
              ) {
                @if (loginForm.get('username').errors?.['required']) {
                  <small class="text-red-500"> Username is required</small>
                } @else if (loginForm.get('username').errors?.['pattern']) {
                  <small class="text-red-500">
                    Username can only contain letters, numbers, and
                    underscores.</small
                  >
                } @else if (loginForm.get('username').errors?.['minlength']) {
                  <small class="text-red-500">
                    Username must be at least 5 characters long.</small
                  >
                } @else if (loginForm.get('username').errors?.['maxlength']) {
                  <small class="text-red-500">
                    Username must be 20 characters.</small
                  >
                }
              }
            </div>
          </div>
          <div class="password">
            <label class="font-mono" for="password"> Password: </label>
            <input formControlName="password" type="password" id="password" />
            <div>
              @if (
                loginForm.get('password').invalid &&
                (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)
              ) {
                @if (loginForm.get('password').errors?.['required']) {
                  <small class="text-red-500"> password is required</small>
                } @else if (loginForm.get('password').errors?.['pattern']) {
                  <small class="text-red-500">
                    password can only contain letters, numbers, and
                    underscores.</small
                  >
                } @else if (loginForm.get('password').errors?.['minlength']) {
                  <small class="text-red-500">
                    password must be at least 5 characters long.</small
                  >
                } @else if (loginForm.get('password').errors?.['maxlength']) {
                  <small class="text-red-500">
                    password must be 20 characters.</small
                  >
                }
              }
            </div>
          </div>
          <div class="button py-12">
            <button
              type="submit"
              class="w-full bg-[#656ED3] hover:bg-opacity-90 rounded-full py-2">
              <span class="text-white">Login</span>
            </button>
          </div>
          <div>
            <p class="text-center font-mono">
              Dont have and account?
              <span
                routerLink="/register"
                class="font-semibold hover:text-[#6974ee] cursor-pointer">
                Register
              </span>
            </p>
          </div>
        </form>
      </div>
      <div class="">
        <div class="round">round</div>
      </div>
    </div>
    <div class="relative basis-[30%] bg-[#AFB3FF]">
      <div
        class="absolute top-1/2 -translate-x-1/2 -translate-y-1/2 desktop:w-[600px]">
        <img src="/assets/image/login.png" alt="register" />
      </div>
    </div>
  </div>
</ng-container>
