<ng-container>
  <div class="relative flex bg-[#EBEFFF] h-screen">
    <div class="coulumn-1 flex-1">
      <div
        class="kotak bg-[#AFB3FF] w-[630px] h-[377px] rotate-[-90deg] rounded-[100px]"></div>
      <div class="relative bottom-56">
        <img
          class="absolute left-32"
          src="/assets/image/register.png"
          alt="register" />
      </div>
    </div>
    <div class="coulumn-2 flex flex-col items-center justify-center flex-1">
      <h3 class="font-bold">Please Fill out from to Register!</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- <div class="full-name">
          <label for="">Full name:</label>
          <input type="text"/>
        </div> -->
        <div class="user-name">
          <label class="font-mono" for="username">Username:</label>
          <input
            formControlName="username"
            [minlength]="5"
            [maxlength]="30"
            id="username"
            type="text"
            required />
        </div>

        <!-- <div>
          @if (

            registerForm.invalid &&
            (registerForm.dirty || registerForm.touched)
          ) {
            <small
              *ngIf="registerForm.errors?.['required']"
              class="text-red-500">
              Username is required
            </small>
            <small class="text-red-500">
              Username must be at least 5 characters long.
            </small>
            <small class="text-red-500">Username must be 20 characters</small>
          }
        </div> -->
        <div
          *ngIf="
            registerForm.get('username').invalid &&
            (registerForm.get('username').dirty ||
              registerForm.get('username').touched)
          ">
          <small
            *ngIf="registerForm.get('username').errors?.['required']"
            class="text-red-500">
            Username is required.
          </small>
          <small
            *ngIf="registerForm.get('username').errors?.['minlength']"
            class="text-red-500">
            Username must be at least 5 characters long.
          </small>
          <small
            *ngIf="registerForm.get('username').errors?.['maxlength']"
            class="text-red-500">
            Username must be 20 characters
          </small>
          <small
            *ngIf="registerForm.get('username').errors?.['pattern']"
            class="text-red-500">
            Username can only contain letters, numbers, and underscores.
          </small>
        </div>
        <div class="email">
          <label class="font-mono" for="email">email:</label>
          <input
            formControlName="email"
            [maxlength]="25"
            id="email"
            type="email" />
        </div>
        <div *ngIf="registerForm.get('email').invalid && formSubmitted">
          <small
            class="text-red-500"
            *ngIf="registerForm.get('email').errors?.['required']"
            >email required</small
          >
          <small
            class="text-red-500"
            *ngIf="registerForm.get('email').errors?.['email']"
            >Please enter a valid email address.</small
          >
        </div>

        <!-- BUG -->
        <div>
          <label class="font-mono" for="password">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter password 1" />
          <div *ngIf="registerForm.get('password').invalid && formSubmitted">
            <small *ngIf="registerForm.get('password')?.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="registerForm.get('password')?.errors?.['pattern']"
              >Password must include at least one lowercase</small
            >
          </div>
        </div>

        <div>
          <label class="font-mono" for="passwordConfirm"
            >Confirm Password</label
          >
          <input
            id="passwordConfirm"
            type="password"
            formControlName="passwordConfirm"
            placeholder="Enter password 2"
            required />
          <div
            *ngIf="
              registerForm.get('passwordConfirm').invalid && formSubmitted
            ">
            <small
              *ngIf="registerForm.get('passwordConfirm')?.errors?.['required']">
              Password is required.
            </small>
          </div>
          <div
            *ngIf="
              registerForm.errors?.['PasswordNoMatch'] &&
              registerForm.get('passwordConfirm')?.dirty

            ">
            <small>Passwords do not match.</small>
          </div>
        </div>


        <div class="button py-12">
          <button
            class="w-full bg-[#656ED3] hover:bg-opacity-90 rounded-full py-2">
            <span class="text-white">Login</span>
          </button>
        </div>
        <div>
          <p class="text-center font-mono">
            Yes i have an account ?
            <span
              routerLink="/login"
              class="font-semibold hover:text-[#6974ee] cursor-pointer">
              Login
            </span>
          </p>
        </div>
      </form>

      <!-- experiment FORM -->
      <!-- <form [formGroup]="passwordForm" (ngSubmit)="onSubmitx()">
        <div>
          <label for="password1">Password 1</label>
          <input
            id="password1"
            type="password"
            formControlName="password1"
            placeholder="Enter password 1" />
          <div
            *ngIf="
              passwordForm.get('password1')?.invalid &&
              (passwordForm.get('password1')?.touched ||
                passwordForm.get('password1')?.dirty)
            ">
            <small *ngIf="passwordForm.get('password1')?.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="passwordForm.get('password1')?.errors?.['pattern']"
              >Password must include at least one lowercase</small
            >
          </div>
        </div>

        <div>
          <label for="password2">Password 2</label>
          <input
            id="password2"
            type="password"
            formControlName="password2"
            placeholder="Enter password 2"
            required />
          <div
            *ngIf="
              passwordForm.get('password2')?.invalid &&
              (passwordForm.get('password2')?.touched ||
                passwordForm.get('password2')?.dirty)
            ">
            <small *ngIf="passwordForm.get('password2')?.errors?.['required']"
              >Password is required.</small
            >
          </div>
        </div>

        <div *ngIf="passwordForm.errors?.['PasswordNoMatch']">
          <small>Passwords do not match.</small>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
      </form> -->
    </div>
  </div>
</ng-container>
